input[name=finishattempt] {
    display: none;
}
td#customtimer {
    display: none;
}
#mcq {
    margin: 20px;
    padding: 0;
    margin-right: 20px;
    background-color: #fff;
}
div.history {
    display: none;
}
label.quiztext {
    width: 50px;
}
.grading {
    display: none;
}
.info {
    display: none;
}
tr{
    background-color: #fff;
}
td{
    margin: 0;
    padding: 0;
}
td.img{
    /*  vertical-align: text-top;*/
}
td.img img{
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    vertical-align: text-top;
}
.answeras {
    position: relative;
    bottom: 0px;
    padding: 0;
    padding-left: 6px;
    background-color: #fff;
}
td .incorrect {
    background-color: #fff;
    color: #CC0000;
}
td .correct {
    background-color: #fff;
    color: #336633;
}
.que .feedback {
    border-color: #DDD;
}
.que .incorrect {
}
.que.multianswer .incorrect {
    background-color: #faa;
}
.que .partiallycorrect {
    background-color: #ff9;
}
.que .correct {
    background-color: #fff;
}
.qtext #dmdsound0{
    margin-bottom: -4px;
}
td.qnum{
    background-color: #e0f0ff;
    margin-left: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    border: none;
    vertical-align: middle;
    font-weight: bold;
    color: #666;
}
#answers td {
    vertical-align: top;
}
input.submit.btn {
    margin: 20px;
}
td label {
    padding-right: 20px;
}
label {
    width: 100px;
}
.control {
    width: 140px;
}
.wrong {
    font-weight: bold;
    background-color: #fff;
    color: #CC0000;
}
.correct {
    font-weight: bold;
    background-color: #fff;
    color: #336633;
}
.center {
    text-align: center;
}
.padding {
    padding-top: 8px;
}
.helptext {
    display: block;
    font-weight: bold;
    color: #666;
    padding-bottom: 54px;
}
.q_container {
    width: 700px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 9px;

}
.paddingleft {
    margin-left: 20px;
}

.questionline{
    border-top: 2px solid #336633;
}
input {
    margin-left: 3px;
}
.submitbtns {
    margin: 0;
    padding: 0;
}
#markall,
#saveattempt,
#startsound,
#pausesound,
#movenext,
#moveback,
body#mod-quiz-review div.tabtree {
    display: none;
}
#finishattempt {
    text-align: left;
}
/* SVARMULIGHEDER*/
label.correct {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a img.zoom {
    border: none;
}




