input[type="button"] {
    width: 75px;
}
.qtext {
    margin-top: 20px;
}
div#mainlayout {
    margin-top: 30px;
}
/* ------------------------------- */

.q_container,
.qtable {
	width: 960px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 0px;
}
.hidden_ctrls {
	padding: 0;
	margin: 0;
	display: none;
	height: 1px;
}
.flashsounds {
	height: 0px;
	padding: 0;
	margin: 0;
	opacity: 0;
	/* IE 8 THEN IE 7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.singlebutton,
.submitbtns,
.info {
	display: none;
}
.fullscreen_nav {
	vertical-align: bottom;
	text-align: center;

}
#dummymoveback,
#dummymovenext {
	width: 70px;
}
.qimage {
	border: 1px solid #000000;
	vertical-align: bottom;
	text-align: center;
}
.qtext {
 text-align: center;
 padding: 5px;
}
input[type="submit"][disabled] {
  color: #cccccc;
  cursor: inherit;
}