#page-mod-quiz-attempt.turprove #block-region-side-post {
    display: none;
}

body.path-mod-quiz #region-main {
    width: 100%;
}

#page-mod-quiz-review #mod_quiz_navblock {
    position: relative;
    top: -120px;
    width: 435px;
}

#page-mod-quiz-review #mod_quiz_navblock .header {
    display: none;
}

#page-mod-quiz-review .quizreviewsummary {
    display: none;
}

body#page-mod-quiz-summary div#mod_quiz_navblock {
    display: none;
}

body.path-mod-quiz div.turprove #turprove_leftcolumn {
    width: 40%;
}

body.path-mod-quiz div.turprove #turprove_rightcolumn {
    min-width: 58%;
}

body.path-mod-quiz div.turprove div.info {
    display: none;
}

body.path-mod-quiz div.turprove div.content {
    margin: 0;
}

body.path-mod-quiz div.turprove div.formulation {
    padding: 8px 5px 8px 5px;
}


div.turprove div.content div.formulation {
    background-color: #ffffff;
    border-color: #ffffff;
}

div.turprove div.content div.formulation:before,
div.turprove div.content div.formulation:after {
    content: "";
    display: table;
    line-height: 0;
}

div.turprove div.content div.formulation:after {
    clear: both;
}

div.turprove div.content div.formulation:before,
div.turprove div.content div.formulation:after {
    content: "";
    display: table;
    line-height: 0;
}

div.turprove div.content div.formulation div.ablock div.prompt {
    min-height: 30px;
}

div.turprove div.content div.formulation div.ablock div.answer {
    float: left;
    width: 40%;
}

div.turprove div.content div.formulation div.ablock div.questionimage {
    float: right;
    width: 60%;
}

div.turprove div.content div.formulation div.ablock div.questionimage img {
    max-width: 100%;
}

div.turprove div.content div.formulation div.ablock div.answer div.r0,
div.turprove div.content div.formulation div.ablock div.answer div.r1 {
    margin-bottom: 20px;
    min-height: 30px;
}

div.turprove div.content div.formulation div.ablock div.answer div.r0 label,
div.turprove div.content div.formulation div.ablock div.answer div.r1 label {
    display: inline-block;
    width: 80%;
}

div.turprove div.content div.formulation div.ablock div.answer div.r0 input[type="checkbox"],
div.turprove div.content div.formulation div.ablock div.answer div.r1 input[type="checkbox"],
div.turprove div.content div.formulation div.ablock div.answer div.r0 input[type="radio"],
div.turprove div.content div.formulation div.ablock div.answer div.r1 input[type="radio"] {
    float: right;
}

div.turprove div.content div.formulation div#turprove_question div.audioplay {
    margin-top: 5px;
}

div.turprove div.content div.formulation div.turprove_answer div.audioplay {
    margin-top: 15px;
}

div.turprove div.content div.formulation div.audioplay {
    background-image: url('/question/type/turprove/pix/icon_play.png');
    background-position: left top;
    cursor: pointer;
    height: 20px;
    width: 20px;
    float: left;
}

div.turprove div.content div.formulation div.audioplay.playing {
    background-image: url('/question/type/turprove/pix/icon_pause.png');
    background-position: left top;
    height: 20px;
    width: 20px;
}

// Rewritten layout CSS updates

#turprove_wrapper {

}

#turprove_leftcolumn {
    float: left;
    max-width: 50%;
}

.turprove_leftcolumn_quiz_info {
    background-color: #e0f0ff;
    color: #666666;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px;
}

#turprove_rightcolumn {
    float: right;
    margin-left: 2%;
    max-width: 48%;
}

#turprove_rightcolumn img.questionimage {
    max-width: 100%;
    border: 1px solid #666666;
}

#turprove_question {

}

#turprove_question .turprove_contentblock span {
    font-weight: bold;
    color: #336633;
}

#turprove_yn {
    display: block;
}

#turprove_yn .turprove_leftblock {

}

#turprove_yn .turprove_contentblock {
    margin-top: 1px;
}

#turprove_yn .turprove_rightblock {

}

.turprove_leftblock {
    width: 25px;
}

.turprove_contentblock {
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 70%;
}

.turprove_contentblock label span {
    font-weight: bold;
}

.turprove_rightblock {
    float: right;
    text-align: right;
    width: 20%;
}

.turprove_answer {
    margin-bottom: 10px;
}

.turprove_answer .turprove_leftblock {
    padding-top: 0;
}

.turprove_answer_wrapper {
    border-top: 2px solid #c5d5c4;
    margin-left: 30px;
}

.turprove_answer_wrapper .turprove_contentblock {
    margin-left: 0;
}

.turprove_answer.correct,
.turprove_answer.incorrect {
    padding: 0 10px;
}

.turprove_answer.correct .turprove_answer_wrapper,
.turprove_answer.incorrect .turprove_answer_wrapper {
    border: none;
}

.turprove_answer .turprove_contentblock,
.turprove_answer .turprove_rightblock {
    padding-top: 10px;
}

#turprove_yn .turprove_rightblock span {
    color: #336633;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

.qtype_turprove_lightboxdiv {
    margin-top: 10px;
}

.qtype_turprove_lightboxdiv a {
    float: right;
}

.turprove_answer input[type="radio"],
.turprove_answer input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 0;
}

.turprove_feedbacktext {
    font-style: italic;
    margin-top: 10px;
    margin-left: 30px;
}

.turprove_answer_feedback {
    padding-bottom: 10px;
}

div.turprove div.content div.formulation div.turprove_answer .tp_feedbackaudio.audioplay {
    margin-top: 3px;
}

div.turprove div.content div.formulation .im-controls {
    clear: both;
    float: left;
    position: relative;
    top: -53px;
}

.singlebutton.turforlag {
    clear: both;
    float: right;
    margin-top: 20px;
}

div.tf_prevnextquestion {
    margin: 10px auto;
    width: 200px;
}

div.tf_prevnextquestion .singlebutton {
    float: left;
    margin-top: 20px;
}

div.tf_prevnextquestion input[name='next'] {
    display: block !important;
    float: left;
    margin-top: 20px;
}

a.arrow_link {
    display: none;
}

input[name='next'] {
    display: none !important;
}

.submitbtns a {
    display: none;
}

.tf_button,
.tf_button:link,
.tf_button:active,
.tf_button:hover,
.tf_button:focus,
.tf_button:visited {
    display: block;
    font-weight: normal;
    color: #fff;
    margin-left: 5px;
}
